<ion-header [translucent]="true">
  <ion-toolbar>
    <div>
      <ion-button (click)="redireccion()">
        volver
      </ion-button>
    </div>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--ion-background-color: black;">
    <article *ngFor="let variable1 of slides">
      <div class="image-container">
        <a href="{{variable1.link}}">
          <img src="{{ variable1.imagen}}" alt="imagen ilustrativa">
        </a>
      </div>
    </article>
</ion-content>
